<nav class="navigation" role="navigation" aria-label="navigation">
	<div class="logo">
		<img class="force-center" src="/images/Peel_Smart.png" height="80px" width="80px" alt="Peel Smart Logo" />
	</div>
	<div class="separate"></div>
	<input class="search" placeholder="Search Network..." type="text">
	<div class="separate"></div>
	<ul class="navigation-links">
		<a href="/networks/1">
			<li class="navigation-link">
				<span class="navigation-link-icon">
				<span class="icon-pink force-center"></span>
				</span>
				<span class="navigation-link-text">
				Network 1</span>
			</li>
		</a>
		<a href="/networks/2">
			<li class="navigation-link">
				<span class="navigation-link-icon">
				<span class="icon-cyan force-center"></span>
				</span>
				<span class="navigation-link-text">
				Network 2</span>
			</li>
		</a>
		<a href="/networks/3">
			<li class="navigation-link">
				<span class="navigation-link-icon">
				<span class="icon-green force-center"></span>
				</span>
				<span class="navigation-link-text">
				Network 3</span>
			</li>
		</a>
		<a href="/networks/4">
			<li class="navigation-link">
				<span class="navigation-link-icon">
				<span class="icon-yellow force-center"></span>
				</span>
				<span class="navigation-link-text">
				Network 4</span>
			</li>
		</a>
		<a href="/networks/5">
			<li class="navigation-link">
				<span class="navigation-link-icon">
				<span class="icon-blue force-center"></span>
				</span>
				<span class="navigation-link-text">
				Network 5</span>
			</li>
		</a>
	</ul>
</nav>